packages:
  yum:
    mod24_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off
        
        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        RequestHeader set X-Forwarded-Proto "https" early
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDxDCCAqwCCQDcPkWB0U58NzANBgkqhkiG9w0BAQsFADCBozELMAkGA1UEBhMC
      Q0ExEDAOBgNVBAgMB0FsYmVydGExEDAOBgNVBAcMB0NhbGdhcnkxFzAVBgNVBAoM
      DmNyb3NzcmVhbG1wZXRzMQ0wCwYDVQQLDARub25lMR8wHQYDVQQDDBZ3d3cuY3Jv
      c3NyZWFsbXBldHMuY29tMScwJQYJKoZIhvcNAQkBFhhicmFuZG9uMi5icmllbkBn
      bWFpbC5jb20wHhcNMTgwNjI5MDIzMzI5WhcNMTkwNjI5MDIzMzI5WjCBozELMAkG
      A1UEBhMCQ0ExEDAOBgNVBAgMB0FsYmVydGExEDAOBgNVBAcMB0NhbGdhcnkxFzAV
      BgNVBAoMDmNyb3NzcmVhbG1wZXRzMQ0wCwYDVQQLDARub25lMR8wHQYDVQQDDBZ3
      d3cuY3Jvc3NyZWFsbXBldHMuY29tMScwJQYJKoZIhvcNAQkBFhhicmFuZG9uMi5i
      cmllbkBnbWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCq
      OB9ZaivssHJg4p6bs4fKJB7hxp+gt53Qu7HKIGTdMtuiRsk08JiddinSbY1uhNUr
      +AorkS0m9oye94xTVx+UHTLe7724FkZQ8edpQReJD8scUb2f48BhPf81AncUPYIA
      DYSx3Q0Kjv7xUJpkTWUxrECEcPz7xma3qeYkjcuXggINoMDkJLvaD0V7PMBYlDna
      HVYmCaKsYHjOwlE8+H8MRx34NijH81G87IcRhMgqQx5YAgQCovxW/1LNC/QbWbOL
      8S0UlKfWJZUq1ripqSU/snYvAq1y837EAS/VT+ILT2t0lqHDcWzzImw01iUej8z1
      9KhVrR3YHFtuHHckvMXbAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAFA0I3kj6rkL
      IovMhVH503nmbUFguFx4lcczlHlZ+NOfcMPAVBFmESB0WB4mBIbYQOJsA1LkXxAF
      XPlX9h34w7Lsem1htqJyIKWc/HyIF/LyVSMocgkVq+ie4NZ9nlL9cOuMC4xFaFxr
      N4bq5C81coFMTiOa5qnR5HrRCTyP5QvV2/W51WA6zUJ0Q2cBX/DHfPuhZoCjUluV
      4sOU1OgrlMJhTxZyMuv4y5dd8aGD4NYolFzYyt+0sZMYt8uvYikULVc7LShBHf6N
      my7HU0IO1vBArRx/vSQH/jswM45GsnNTuAZ5F5FPo0SIDbOkGNVlOOrO5nOQNUu+
      kmeSLJVf9m0=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpgIBAAKCAQEAqjgfWWor7LByYOKem7OHyiQe4cafoLed0LuxyiBk3TLbokbJ
      NPCYnXYp0m2NboTVK/gKK5EtJvaMnveMU1cflB0y3u+9uBZGUPHnaUEXiQ/LHFG9
      n+PAYT3/NQJ3FD2CAA2Esd0NCo7+8VCaZE1lMaxAhHD8+8Zmt6nmJI3Ll4ICDaDA
      5CS72g9FezzAWJQ52h1WJgmirGB4zsJRPPh/DEcd+DYox/NRvOyHEYTIKkMeWAIE
      AqL8Vv9SzQv0G1mzi/EtFJSn1iWVKta4qaklP7J2LwKtcvN+xAEv1U/iC09rdJah
      w3Fs8yJsNNYlHo/M9fSoVa0d2Bxbbhx3JLzF2wIDAQABAoIBAQCpwcTJ+I+LwkCf
      jQJfB4Ghv7ooslyZ/OTfuYBKs1nEHCdcRDn/mP6q8qAs4uLM2J579ie2YVdlZzbA
      huKkbtvoa+JC4VcUkupXaZi+qJLfNyf5uy9gmNNQZ3LwG+BECD9w7AptE6Yg5JEu
      epMu+tyz2DSToNc8BRaFjmQeCmeDVR0JFDJmFJxpzYz3MdBw0+l2bAXU38sOdd3k
      eb1jhfDTxxw5jPv5dvSdIh7oxv5qwUz0EchVwekxHIRpl2DMFoHI53fIOCixSH0Y
      tdsGBkjcJFwix9XsS/LO79s+985Ws2JWw8nhCMBdYYsrMNpX4eWg1qlxVJnNAGz+
      LKxo96exAoGBANpqQfp6DWcrjpIVcUXq23bjlAApgxAp5ssbLSR+TxybM9n1Anlv
      poXWlpac5aijVjDLwWzxb/Rs4sJrE5D2aqAwvFECD660NoYctoi1OWNbeALC5w3z
      7e8BGrofubByTdEzPvpNiaD+H+UxQ5BxtISq9biY4bMh4TQeCEiMA/9jAoGBAMeC
      tvbpWE4ci9JRbZ3lmkubrggax925OZwNCWQ7w40u6JR/MDNpKYZvN9ibO+q9rhFg
      p7X2BP4iU7j+8SC8jZoW82ojDndItrCzsLUkpMeqy4VybgXDmRqrDk8UDXS/7cqE
      kADG1h9WhwsWJ2gKQp87XtfEOoNksY0t6OQUj1UpAoGBANmgDmWYv0oRKFl+bAMS
      Y+IuGAWhVyn/1iqBxZUbFZCXRC7j5bdB/FZW3mzroBlLxlGQdAYs+zQ8WiUFs9U4
      8jzy0nCU8TNN9RXj/ixxBeFt/kIiGT7Z0jXWj97sRYT+H3NW8GVOZNe43ebsEzoV
      UZzvCy8HhbuLAm1/jxlaCZGpAoGBAIJ6tYhD0bG8L6GMCaGjYMaj+Sxpv1793XR2
      fjbkcx7pl8hOakqlMzgtkpuB4qzCAo5w5R422MsPziuF6FMdnYoyCl3WsYZHsttb
      mWzOm0nOJK6QyO3SH1Z2mrQTDD3Xq/+vtLIdWDpEj6srgPglBa831+5K8m2uNAR+
      Cvrni1oJAoGBANFX1mP+MMZajyDD5G3k6Y2ZqLuBYX7RQGVj+l/qC2z7tp951APj
      ySs5BOH76zk8KaNxr+uTQBBI2slUgmtGWR4n3qbl6XHoFgV4DWT/OPBiceAP7DD4
      JFQk8wRCMmX96o2u3Iu1uRQAa4o9NbdThPeEBQfq49aI2mIzkqiqMRke
      -----END RSA PRIVATE KEY-----
     
Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0