files:
 "/etc/cron.d/mycron":
  mode: "000644"
  owner: root
  group: root
  content: |
   15 * * * * root /usr/local/bin/runGetAndParseAuctionData.sh
 
 "/usr/local/bin/runGetAndParseAuctionData.sh":
  mode: "000755"
  owner: root
  group: root
  content: |
   #!/bin/bash
 
   date > /tmp/date
   /usr/bin/php /var/app/current/scripts/getAndParseAuctionData.php >> /home/ec2-user/getAndParseAuctionDataLog.txt
 
   exit 0

commands:
 remove_old_cron:
  command: "rm -f /etc/cron.d/*.bak"